<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Settings</h1>
</div>

<div class="container max-width-620">
  <form>
    <div class="form-check form-switch mb-3">
      <input class="form-check-input" type="checkbox" role="switch">
      <label class="form-check-label">Night Vision</label>
    </div>
  
    <div class="form-check form-switch mb-3">
      <input class="form-check-input" type="checkbox" role="switch">
      <label class="form-check-label">Facial Detection (AI)</label>
    </div>
  
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Notification cooldown in seconds">
      <button class="btn btn-outline-secondary" type="button">Save</button>
    </div>
  </form>
</div>