<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Settings</h1>
</div>

<form>
    <div class="form-group">
      <label for="nightVision" class="d-block">Night Vision</label>
      <button (click)="toggleNightVision()" [class]="nightVision ? 'btn btn-success' : 'btn btn-danger'">
        {{ nightVision ? 'Enable' : 'Disable' }}
      </button>
    </div>
    
    <div class="form-group">
      <label for="facialDetection" class="d-block">Facial Detection</label>
      <button (click)="toggleFacialDetection()" [class]="facialDetection ? 'btn btn-success' : 'btn btn-danger'">
        {{ facialDetection ? 'Enable' : 'Disable' }}
      </button>
    </div>
  
    <div class="form-group">
      <label for="notificationCooldown" class="d-block">Notification Cooldown (in seconds)</label>
      <input type="number" [(ngModel)]="notificationCooldown" name="notificationCooldown" class="form-control" min="5" max="300">
    </div>
  
    <!-- Save button -->
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
  