<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Dashboard</h1>
</div>

<!-- Display video previews in cards -->
<div class="row">
    <div class="col-md-4" *ngFor="let cameraPreview of previews?.cameraPreviews">
        <div class="card">
            <div class="card-header">
                Camera ID: {{ cameraPreview.cameraId }}
            </div>
            <div class="card-body">
                <img style="width: 100%" [src]="'data:image/png;base64,' + cameraPreview.frame" alt="Frame Preview" />
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" *ngIf="!cameraPreview.isMonitoring" (click)="startMonitoring(cameraPreview.cameraId)">
                    Start Monitoring
                </button>
                <button class="btn btn-warning" *ngIf="cameraPreview.isMonitoring" (click)="stopMonitoring(cameraPreview.cameraId)">
                    Stop Monitoring
                </button>
                <button class="btn btn-secondary" *ngIf="cameraPreview.isMonitoring" (click)="view(cameraPreview)">
                    View Live
                </button>
                <button class="btn btn-secondary" *ngIf="!cameraPreview.isMonitoring" (click)="view(cameraPreview)">
                    Preview
                </button>
            </div>
        </div>
    </div>
</div>